@import './../../../common/styles/sass/variables';

.skill {
    padding: 10px 0;
    width: 15.625rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: $bgSecondColor;
    border-radius: 10px;
    @media screen and (max-width: 540px) {
        width: 8rem;
    }
    .icon {
        width: 3.75rem;
        height: 3.75rem;
        background-color: $bgColor;
    }
    .iconImg {
        padding: 5px;
        opacity: .65;
    }
}

.icon svg {
    height: 80%;
    margin-top: 5px;
    color: $textColor;
}