@import './../../common/styles/sass/variables';

.projectsBlock {
    padding: 3.12rem 0;
    background-color: $bgSecondColor;
    .projects {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1.5rem;
        @media screen and (max-width: 666px) {
            justify-content: center;
        }
    }
}