.projectsBlock {
    padding: 3.12rem 0;
    background-color: #f7f7ff;
}

.projects {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.5rem;
}

@media screen and (max-width: 666px) {
    .projects {
        justify-content: center;
    }
}