@import './../../../common/styles/sass/variables';

.contactWrapper {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.3;
    color: $titleColor;
    @media screen and (max-width: 550px) {
        font-size: 1rem;
    }
    a {
        text-decoration: none;
        color: inherit;
        &:hover {
            color: $primaryColor;
            transition: .3s;
        }
    }
}