.contactWrapper {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.3;
    color: #0b0b13;
}

.contactWrapper a {
    text-decoration: none;
    color: inherit;
}

.contactWrapper a:hover {
    color: #ff9301;
    transition: .3s;
}

@media screen and (max-width: 550px) {
    .contactWrapper {
        font-size: 1rem;
    }
}