.container {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 755px) {
    .container {
        justify-content: center;
    }
}

@media screen and (max-width: 899px) {
    .container {
        position: relative;
        z-index: 0;
    }
}