@import './../../common/styles/sass/variables';
@import './../../common/styles/sass/mixins';

.skillsBlock {
    padding: 3.12rem 0;
    background-color: $bgColor;
    .container {
        @include container();
        .skills {
            @include layoutSkillsProjects();
            @media screen and (max-width: 666px) {
                justify-content: center;
            }
        }
    }
}