.skillsBlock {
    padding: 3.12rem 0;
    background-color: #fff;
}

.skillsContainer {
    /*gap: 15px;*/
}

.skills {
    /*border: 2px solid darkslateblue;*/
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.5rem;
}

@media screen and (max-width: 666px) {
    .skills {
        justify-content: center;
    }
}