@import './../../styles/sass/variables';

.title {
    position: relative;
    z-index: 1;
    font-size: 1.875rem;
    font-weight: 600;
    line-height: 1.2;
    text-transform: capitalize;
    color: $titleColor;
    margin-bottom: 4.5rem;
    &::before {
        animation: slide-both-side 4s infinite both;
        background: $bgAccentColor;
        border-radius: 50%;
        content: "";
        height: 3rem;
        left: -1rem;
        position: absolute;
        top: -0.5rem;
        width: 3rem;
        z-index: -1;
        @keyframes slide-both-side {
            50% {
                top: 10%;
            }
        }
    }
}