@import './../../../common/styles/sass/variables';

.project {
    position: relative;
    padding: 0 10px 10px 10px;
    width: 15.625rem;
    min-height: 15.625rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    text-align: center;
    background-color: $bgColor;
    border-radius: 10px;
    overflow: hidden;
    color: $textColor;
    cursor: pointer;
    &::before {
        content: "";
        position: absolute;
        background: $primaryColor;
        width: 12.5rem;
        height: 12.5rem;
        border-radius: 50%;
        left: -3.75rem;
        top: -5rem;
        transition: .5s ease-in-out;
    }
    &:hover {
        &::before {
            width: 24rem;
            height: 24rem;
            transition: .5s ease-in-out;
        }
    }
    h3 {
        position: relative;
        font-weight: 500;
        line-height: 1.2;
        color: $titleColor;
        z-index: 1;
    }
    .description {
        position: relative;
        z-index: 1;
    }
    .iconContainer {
        width: 3.75rem;
        height: 3.75rem;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        background-size: 3.75rem;
    }
}