@mixin layoutSkillsProjects() {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.5rem;
}

@mixin container() {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  @media screen and (max-width: 899px) {
    position: relative;
    z-index: 0;
  }
  @media screen and (max-width: 755px) {
    justify-content: center;
  }
}