@import './../../common/styles/sass/variables';

.navGeneral {
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 899px) {
        flex-direction: row;
    }
    .nav {
        display: flex;
        flex-direction: column;
        position: relative;
        @media screen and (max-width: 899px) {
            flex-direction: row;
        }
        @media screen and (max-width: 540px) {
            display: none;
        }
        a {
            img {
                height: 2rem;
            }
            .imgDescription.about {
                display: none;
                top: -1rem;
            }
            .imgDescription.skills {
                display: none;
                top: 4rem;
            }
            .imgDescription.projects {
                display: none;
                top: 9rem;
            }
            .imgDescription.contacts {
                display: none;
                top: 14rem;
            }
            @media screen and (min-width: 900px) {
                &:hover .about {
                    display: block;
                }
                &:hover .skills {
                    display: block;
                }
                &:hover .projects {
                    display: block;
                }
                &:hover .contacts {
                    display: block;
                }
            }

            .imgDescription {
                color: $bgColor;
                background: $titleColor;
                border: 1px solid transparent;
                padding: 5px;
                border-radius: 7px;
                position: absolute;
                left: 75px;
            }
            &:hover {
                border: 2px solid $bgAccentColor;
            }
        }
        .active {
            border: 3px solid $primaryColor;
        }
    }
    a {
        text-decoration: none;
        width: 5rem;
        height: 100%;
        padding: 20px 0;
        text-align: center;
        border: 1px solid rgba(11,11,19,.1);
        cursor: pointer;
    }
    .main {
        padding: 10px 0;
        font-size: 3rem;
        font-weight: 700;
        color: $bgColor;
        background: $primaryColor;
    }

}

.burgerMenu {
    display: none;
    position: relative;
    z-index: 9;
    height: 2.5rem;
    width: 50px;
    border: 0;
    padding: 0;
    margin-right: 1rem;
    background-color: transparent;
    @media screen and (max-width: 540px) {
        display: block;
    }
    .burger {
        position: relative;
        display: block;
        top: 2.375rem;
        right: 0;
        width: 50px;
        height: 3px;
        border: 0;
        background-color: $primaryColor;
        &::before {
            position: absolute;
            content: "";
            display: block;
            top: 0.7rem;
            width: 50px;
            height: 3px;
            background-color: $primaryColor;
        }
        &::after {
            position: absolute;
            content: "";
            display: block;
            bottom: 0.7rem;
            width: 50px;
            height: 3px;
            background-color: $primaryColor;
        }
    }
}