@import './../../common/styles/sass/variables';

.aboutBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.12rem 0;
    background-color: $bgSecondColor;
    position: relative;
    z-index: 0;
    .aboutContainer {
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
        @media screen and (max-width: 989px) {
            justify-content: center;
        }
        .aboutPhoto img {
            max-height: 23rem;
            border-radius: 50%;
            border: 7px solid $primaryColor;
            @media screen and (max-width: 1199px) {
                height: 20rem;
            }
            @media screen and (max-width: 400px) {
                height: 17rem;
            }
        }
        .aboutInfo {
            width: 55%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 2rem;
            line-height: 1.7;
            color: $textColor;
            @media screen and (max-width: 989px) {
                width: 90%;
            }
            .personalInfo {
                display: flex;
                justify-content: space-between;
                line-height: 1.7;
                gap: 1rem;
                @media screen and (max-width: 605px) {
                    flex-direction: column;
                    align-items: center;
                }
                .infoTitle {
                    font-weight: 500;
                    padding-right: 10px;
                }
                .language {
                    font-weight: 400;
                }
            }
        }
    }
}