.aboutBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.12rem 0;
    background-color: #f7f7ff;
    position: relative;
    z-index: 0;
}

.aboutBlock .aboutContainer {
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.aboutPhoto img {
    max-height: 23rem;
    border-radius: 50%;
    border: 7px solid #ff9301;
}

.aboutInfo {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    line-height: 1.7;
}

.personalInfo {
    display: flex;
    justify-content: space-between;
    line-height: 1.7;
    gap: 1rem;
}

.infoTitle {
    font-weight: 500;
    padding-right: 10px;
}

.language {
    font-weight: 400;
}

@media screen and (max-width: 1199px) {
    .aboutPhoto img {
        height: 20rem;
    }
}

@media screen and (max-width: 989px) {
    .aboutBlock .aboutContainer {
        justify-content: center;
    }
    .aboutInfo {
        width: 80%;
    }
}